:root {
    --primary-color: #FF0000;  /* Rouge */
    --secondary-color: #000000; /* Noir */
    --accent-color: #FF6347;    /* Tomate */
    --background-color: #1A1A1A; /* Fond noir-gris foncé */
    --text-color: #FFFFFF;     /* Blanc */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, var(--background-color) 50%, var(--primary-color) 60%);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

header h1 {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

main {
    width: 100%;
    max-width: 350px;
    background: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

input {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background: var(--text-color);
    color: var(--secondary-color);
    width: 100%;
    max-width: 300px;
    text-align: center; /* Centrer le texte dans les champs input */
}

input:focus {
    border-color: var(--primary-color);
}

button {
    display: block;
    width: 100%;
    background: linear-gradient(to right, var(--primary-color), var(--accent-color));
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    margin-top: 20px;
    max-width: 300px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.3);
}

#retourButton {
    background: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: 600;
    color: var(--text-color);
}

#validationMessage {
    margin-top: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

#errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
