body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
h2{
	color: #fff;
	text-align: center;
	margin: 20px;
}
span{
	color: #ff8000;
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	margin-top: 30px;
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6c43b6;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.alert-error, .alert-success {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center;    /* Centrer verticalement */
    text-align: center;     /* Centrer le texte à l'intérieur */
    padding: 10px;          /* Espacement interne */
    margin: 10px auto;      /* Espacement externe centré */
    width: 80%;             /* Largeur ajustable */
    max-width: 400px;       /* Largeur maximale */
    background-color: #f8d7da; /* Couleur de fond (rouge clair pour erreur) */
    color: #721c24;         /* Couleur du texte */
    border: 1px solid #f5c6cb; /* Bordure de couleur similaire */
    border-radius: 8px;     /* Bordures arrondies */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    font-family: 'Arial', sans-serif; /* Police de caractère */
}
.alert-success {
    background-color: #d4edda; /* Vert clair pour succès */
    color: #155724;           /* Couleur du texte */
    border: 1px solid #c3e6cb; /* Bordure de couleur similaire */
}
